<div class="avatar">
	<img src="images/default-avatar.png">
    <p class="welcome">
    	Welcome, Subscriber
    </p>
</div>
<div class="list-group">
 <a href="#profile" class="list-group-item active"><span class="icon icon-person"></span> Your Profile</a>
  <a href="#create-event" class="list-group-item" ng-click="test()"><span class="icon icon-event_available"></span> Create an Event</a>
  <a href="#manage-events" class="list-group-item"><span class="icon icon-event_note"></span> Manage Events</a>
   <a href="#contacts" class="list-group-item"><span class="icon icon-perm_contact_calendar"></span> Contacts</a>
  <a href="#login" class="list-group-item" ng-click="logout()"><span class="icon icon-exit_to_app"></span> Logout</a>
</div>